#principal {
    margin: 20px auto;
    width: 80%;
    text-align: left;
}

.cards img {
    width: 500px;
    float: left;
    margin-right: 10px;
}

.colab {
    margin: 10px 0;
    overflow: hidden;
}
  
h2{
    margin-bottom: 100px;
}

.colab h2, h3, p{
    margin-bottom: 0;
    text-align: left;
    padding: 10px;
    font-size: 26px;
}




