body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: sans-serif;
  font-size: 22px;
}

#principal {
  margin: 20px auto;
  width: 80%;
}

.header-top {
  height: 50px;
  background-color: #3D3D3D;
  position: relative;
  color: #fff;
  margin: 0 0 800px 0;
  font-size: 24px;
  box-sizing: border-box;

}

h1 {
  margin: 20px 0 0 10px;
}

.header-top nav {
  position: absolute;
  top: 0;
  margin: 0 auto;
  right: 5%;
  height: 00px;
}

.header-top nav ul{
  margin: 0;
  padding: 0;
}


.header-top nav li{
  list-style: none;
  display: inline-block;
  margin: 0 15px 0 0;
  padding: 10px;
  font-size: 30px;
}

.header-top nav a{
  text-decoration: none;
  color: #fff;
  transition: color 2s;
}

.header-top nav a:hover {
  color: rgb(9, 177, 255);
  text-decoration: none;
}

.active {
  color: #0f3f7a;
}

.banner {
  background-image: url(../imgs/top.jpeg);
  height: 700px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
  font-size: 35px;

}

.banner-content {
  padding: 40px;
}

.banner-content h2 {
  padding-top: 50px;
  text-shadow: 5px 2px 5px #3D3D3D;
}

.btn {
  text-align: right;
  padding-right: 10px;
}


.start {
  background-color: #4975AB;
  text-align: center;
  width: 300px;
  font-size: 18px;
  padding: 10px;
}

.start:hover {
  background-color: #0f3f7a;
}


.start a {
  text-decoration: none;
  color: #fff;
}


.cards {
  width: 100%;
  margin: 100px auto;
  text-align: center;

}

.card {
  width: 33%;
  display: inline-block;
  margin: auto;

}

.card img {
  width: 80%;
  border-radius: 50%;
  transition: border-radius 1s;
}

.card img:hover {
  border-radius: 0;
  transition: border-radius 1s;
}

.card .tellme{
  padding: 10px;
  background-color: #C1C1C1;
  color: #3D3D3D;
}
 
main {
  width: 100%;
  margin: auto;
  padding: 15px;
}

#footer-end{
  background-color: #3D3D3D;
  width: 100%;
  height: 100px;
  display: inline-block;
  text-align: center;
}

#footer-end p{
  display: inline-block;
  color: #fff;
  font-size: 30px;

}

.redes{
  display: inline-block;
  width: 160px;
  padding-top: 10px;
}

.redes span{
  display: inline-block;
  width: 30%;
}
.redes img {
  width: 60%;
}

