body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

nav {
  background-color: gray;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: gray;
  text-align: center;
}

nav button:active {
  background-color: hotpink;
}

h1 {
  color: red;
  text-align: center;
}

button.big-btn {
  margin: 1em;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  font-size: 140%;
}