/*
  verde: rgb(54,130,118) OU #368276
  laranja: rgb(232,102,16) OU #e86610
  opção de verde escuro? #2f6f66
*/

/* reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-weight: 300;
    font-family: sans-serif;
}

.green { /* Para textos verdes */
    color: #368276;
}

.darkgrey { /* Para textos cinzas importantes */
    color: #555555;
}

.lightgrey { /* Para textos cinzas menos importantes*/
    color: #c4c4c4;
}

body {
    background-color: #fff;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

h1.green {
    display: block;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 12px 0 12px;
}

h3.green {
    display: block;
    font-size: 100%;
    text-align: center;
}

h3.darkgrey {
    display: block;
    font-size: 100%;
    text-align: center;
}

/**********************//******************************************************/
/*   Coisas gerais    *//******************************************************/
/**********************//******************************************************/
#backtriangle {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-image: url(./../images/back.png);
}

/*********************//******************************************************/
/* Página index.html *//******************************************************/
/*********************//******************************************************/
/* Header */
.hero-banner {
    width: 100%;
    height: 250px;
    background-image: url(../images/hero-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    padding: 2% 0;
    bottom: 0;
}

/* logo */
.logo {
    color: white;
    min-height: fit-content;
    width: 160px;
    height: 36px;
    line-height: 36px;
    float: left;
    margin: auto 10px;
    background-color: #368276;
    text-shadow: 2px 2px 4px #000000;
}

#triangle {
    margin-top: 6px;
    margin-left: 6px;
    float: left;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #e86610;
}

#backtowork {
    float: left
}
/*logo/

/**/
/**/
.start-now {
    float: left;
    text-align: left;
    margin: 50px 50px 0 50px;
    color: #ffF;
    background-color: rgba(92.9, 38.8, 9.4, 0.5);
    text-shadow: 2px 2px 4px #000000;
}

.start-now h2, p {
    padding-left: 2%;
    width: 60%;
}

.cards {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.card {
    color: white;
    border-radius: 10px;
    width: 30%;
    min-height: 40px;
    height: fit-content;
    line-height: 40px;
    background-color: #e86610;
    display: inline-block;
}

.card:hover {
    background-color: rgba(92.9, 38.8, 9.4, 0.5);
}

.card:active {
    color: black;
    background-color: rgba(16, 6, 1, 0.5);
}

.card p {
    color: #fff;
    text-align: center;
    margin: auto;
}

/**************/
/**************/
.articles {
    margin: auto;
    color: #368276;
    text-align: center;
}

.articles article {
    height: fit-content;
    margin: 10px auto;
    overflow: hidden;
}

.articles img {
    height: 250px;
}

.explain {
    background-color: #368276;
    color: #fff;
    overflow: auto;
    padding: 10px;
    text-align: left;
}

footer {
    border-top: 2px solid #c4c4c4;
    margin-top: 50px;
    padding-top: 50px;
    color: #368276;
    text-align: center;
}

.nets {
    margin-bottom: -10px;
}

.redes {
    display: inline-block;
    width: 130px;
    padding: 0;
    margin: auto;
}

.redes span {
    display: inline-block;
    width: 30%;
}

.redes img {
    width: 60%;
    margin-bottom: 5px;
}

h2 {
    font-size: 1.3em;
}

/*********************//******************************************************/
/* Página login.html *//******************************************************/
/*********************//******************************************************/
label {
    margin: auto;
}

.titulo {
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

#space {
    padding-top: 30px;
    padding-bottom: 5px;
}

.botao {
    color: black;
    background-color: #afcdc8;
    border: solid 2px black;
    padding: 0.75em 1em 0.75em 1em;
    border-radius: 5px;
    cursor: pointer;
}

.botao:hover{
    background-color: #368276;
    color: white;
}

.input {
    padding: 1em;
    margin: 0.75em auto 0.75em;
    border-radius: 5px;
    border: solid 2px black;
    width: 60%;
}

/**********************//******************************************************/
/* Página cursos.html *//******************************************************/
/**********************//******************************************************/
p.modulo-box {
    width: 120px;
}

section.btn-area {
    text-align: center;
}

.btn-area p {
    margin: auto;
}

div.btn:hover {
    background-color: #2f6f66;
    color: rgb(145, 145, 145);
}

div.btn:active {
    background-color: #1f4842;
    color: rgb(97, 97, 97);
}

/**********************//******************************************************/
/* Página about.html  *//******************************************************/
/**********************//******************************************************/
div.quem-somos-fotos {
    text-align: center;
}

/***********************************//*****************************************/
/*          MEDIA QUERIES          *//*****************************************/
/***********************************//*****************************************/

/* mobile col-sm */
@media (max-width: 480px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
    .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
    }
    .col-sm-1 { width: 8.33%; }
    .col-sm-2 { width: 16.66%; }
    .col-sm-3 { width: 25%; }
    .col-sm-4 { width: 33.33%; }
    .col-sm-5 { width: 41.66%; }
    .col-sm-6 { width: 50%; }
    .col-sm-7 { width: 58.33%; }
    .col-sm-8 { width: 66.66%; }
    .col-sm-9 { width: 75%; }
    .col-sm-10 { width: 83.33%; }
    .col-sm-11 { width: 91.66%; }
    .col-sm-12 { width: 100%; }

    /*header*/
    .btn-menu {
        width: 45px;
        height: 45px;
        float: right;
        margin-right: 3%;
        background-color: #368276;
        text-align: center;
        border-radius: 45px;
        color: #fff;
        cursor: pointer;
        text-shadow: 2px 2px 4px #000000;
    }

    /*menu*/
    .top-menu { display: none; }

    .hamb-menu {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.9);
        top: 0;
        left: 0;
    }

    .menu ul {
        list-style-type: none;
        width: 100%;
        float: left;
        text-align: center;
        color: #fff;
    }

    .menu li {
        padding: 1px;
        border: 100px;
        font-size: 2em;
    }

    .hamb-menu li:hover {
        color: #368276;
    }

    .btn-close {
        font-size: 3em;
        color: #fff;
        float: right;
        cursor: pointer;
        margin-right: 5%;
    }

    /**/
    .div-signin {
        float: left;
        text-align: left;
        margin: 20px 0 10px 100px;
        background-color: #368276;
        text-shadow: 2px 2px 4px #000000;
        box-shadow: 2px 2px #888888;
    }

    .div-signin p {
        padding: 5px;
    }

    .btn-signin {
        color: #fff;
        padding: 10px;
    }

    .div-signin:hover {
        background-color: rgb(7, 90, 90);
    }

    /*main*/
    .signin {
         display: none;
    }

    .modulos {
        background-color: #368276;
        top: 0;
        clear: both;
        width: 100%;
        margin: auto;
    }

    /**************/
    .articles h2 {
        margin-top: 20px;
    }

    /*login*/
    .entrar, .cadastro {
        text-align: center;
    }

    .cadastro {
        margin-top: 20px;
        border-top: 2px solid black;
    }

    .entrar > h2, .cadastro > h2 {
        margin: 15px auto 15px;
    }

    #tr-1 {
        z-index: -1;
        position: absolute;
        bottom: 0;
        width: 0; 
        height: 0; 
        border-bottom: 200px solid transparent;
        border-top: 200px solid transparent;
        border-left: 200px solid #3682773a;
    }

    #tr-2 {
        z-index: -1;
        position: absolute;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 200px solid transparent;
        border-right: 200px solid transparent;
        border-bottom: 200px solid #47c5b23a
    }
    /* Página de módulos e cursos */
    div.btn {
        color: white;
        background-color: #368276;
        font-weight: bold;
        padding: 3px;
        margin: 65px auto 10px;

        width: fit-content;
        min-width: 80px;
        height: fit-content;
        min-height: 65px;
        line-height: 65px;

        border-radius: 6px;
        text-align: center;
        cursor: pointer;
    }

    /* Módulo 1 */
    .video-list {
        margin: 1% 0 1% 0;
        height: 200px;
        overflow: auto;
    }

    .video-list button {
        margin: 1% 1px 0 0;
        box-sizing: border-box;
        border:2px solid #347D6C;
        border-radius: 5px;
        background-color: #fff;
        text-align: left;
        white-space: pre;

    }

    .video-list button:hover {
        background-color: #347D6C;
        white-space: normal;
    }

    .video iframe {
        height: 300px;
    }
}

/* tablet -- col-md */
@media (min-width: 481px) and (max-width: 767px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
    .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
    }
    .col-md-1 { width: 8.33%; }
    .col-md-2 { width: 16.66%; }
    .col-md-3 { width: 25%; }
    .col-md-4 { width: 33.33%; }
    .col-md-5 { width: 41.66%; }
    .col-md-6 { width: 50%; }
    .col-md-7 { width: 58.33%; }
    .col-md-8 { width: 66.66%; }
    .col-md-9 { width: 75%; }
    .col-md-10 { width: 83.33%; }
    .col-md-11 { width: 91.66%; }
    .col-md-12 { width: 100%; }

    /*header*/
    .btn-menu {
        width: 45px;
        height: 45px;
        float: right;
        margin-right: 3%;
        background-color: #368276;
        text-align: center;
        border-radius: 45px;
        color: #fff;
        cursor: pointer;
        text-shadow: 2px 2px 4px #000000;
    }

    /*menu*/
    .top-menu { display: none; }

    .hamb-menu {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.9);
        top: 0;
        left: 0;
    }

    .menu ul {
        list-style-type: none;
        width: 100%;
        float: left;
        text-align: center;
    }

    .menu li {
        padding: 1px;
        border: 100px;
        font-size: 2em;
        color: #fff;
    }

    .hamb-menu li:hover{
        color: #368276;
    }

    .btn-close {
        font-size: 3em;
        color: #fff;
        float: right;
        cursor: pointer;
        margin-right: 5%;
    }

    /**/
    .div-signin {
        float: left;
        text-align: left;
        margin: 20px 0 10px 100px;
        background-color: #368276;
        text-shadow: 2px 2px 4px #000000;
        box-shadow: 2px 2px #888888;
    }

    .div-signin p {
        padding: 5px;
    }

    .btn-signin {
        color: #fff;
        padding: 10px;
    }

    .div-signin:hover {
        background-color: rgb(7, 90, 90);
    }

    /*main*/
    .signin {
        display: none;
   }

   .modulos {
        background-color: #368276;
        top: 0;
        clear: both;
        width: 100%;
        margin: auto;
   }

    /**************/
    .articles h2 {
        margin-top: 20px;
    }

    /*login*/
    .entrar, .cadastro {
        text-align: center;
    }

    .cadastro {
        margin-left: 2%;
        border-left: 2px solid black;
    }

    .entrar > h2, .cadastro > h2 {
        margin: 15px auto 15px;
    }

    #tr-1 {
        z-index: -1;
        position: absolute;
        bottom: 0;
        width: 0; 
        height: 0; 
        border-bottom: 200px solid transparent;
        border-top: 200px solid transparent;
        border-left: 200px solid #3682773a;
    }

    #tr-2 {
        z-index: -1;
        position: absolute;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 200px solid transparent;
        border-right: 200px solid transparent;
        border-bottom: 200px solid #47c5b23a
    }

    /* Página de módulos e cursos */
    div.btn {
        color: white;
        background-color: #368276;
        font-weight: bold;
        padding: 3px;
        margin: 65px auto 10px;

        width: fit-content;
        min-width: 80px;
        height: fit-content;
        min-height: 65px;
        line-height: 65px;

        border-radius: 6px;
        text-align: center;
        cursor: pointer;
    }

    /* Módulo 1 */
    .video-list {
        margin: 1% 0 1% 0;
        height: 200px;
        overflow: auto;
    }
    
    .video-list button {
        margin: 1% 1px 0 0;
        box-sizing: border-box;
        border:2px solid #347D6C;
        border-radius: 5px;
        background-color: #fff;
    }

    .video-list button:hover {
        background-color: #347D6C;
    }

    .video iframe {
        height: 300px;
    }
}

/* tablet virado -- col-lg */
@media (min-width: 768px) /*and (max-width: 1024px)*/ {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
    .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
    }
    .col-lg-1 { width: 8.33%; }
    .col-lg-2 { width: 16.66%; }
    .col-lg-3 { width: 25%; }
    .col-lg-4 { width: 33.33%; }
    .col-lg-5 { width: 41.66%; }
    .col-lg-6 { width: 50%; }
    .col-lg-7 { width: 58.33%; }
    .col-lg-8 { width: 66.66%; }
    .col-lg-9 { width: 75%; }
    .col-lg-10 { width: 83.33%; }
    .col-lg-11 { width: 91.66%; }
    .col-lg-12 { width: 100%; }

    /* Página cursos.html */
    div.btn {
        color: white;
        background-color: #368276;
        font-weight: bold;
        padding: 3px;
        margin: 65px auto 10px;

        width: fit-content;
        min-width: 60%;
        height: fit-content;
        min-height: 140px;
        line-height: 140px;

        border-radius: 6px;
        text-align: center;
        cursor: pointer;
    }

    div.btn.lock {
        color: white;
        background-color: #555555;
        font-weight: bold;
        padding: 3px;
        margin: 65px auto 10px;

        width: fit-content;
        min-width: 60%;
        height: fit-content;
        min-height: 140px;
        line-height: 140px;

        border-radius: 6px;
        text-align: center;
        cursor: unset;
    }

    /*header*/
    .btn-menu {
        display: none;
    }

    .btn-close {
        display: none;
    }

    /*menu*/
    .hamb-menu { display: none; }

    .top-menu {
        width: 100%;
        min-height: 32px;
        height: fit-content;
        line-height: 32px;
        padding: 0;
        text-align: center;
        background-color: rgb(54, 130, 118, 0.7);
    }

    .menu ul li {
        text-decoration: none;
        display: inline-block;
        padding: 2px 4px 2px 4px;
        color: white;
    }

    .top-menu ul li:hover {
        color: #c4c4c4;
        background-color: rgb(54, 130, 118, 1);
    }

    .top-menu ul li:active {
        color: #555555;
        background-color: rgb(49, 118, 107);
        /* background-color: rgba(33, 80, 73, 0.3); */
    }

    .btn-signin {
        display: none;
    }

    /**/
    .signin {
        display: inline-block;
        /* width: 50%; */
        height: 60px;
        padding: 5px;
        background-color: #e86610;
        box-sizing: border-box;
        color: #fff;
        text-shadow: #000 1PX 1PX;
    }

    .signin h2, p {
        margin: 3PX;
    }

    .modulos {
        background-color: #368276;
        top: 0;
        margin: auto;
        /* width: 50%; */
    }

    .articles h2 {
        margin-top: 0;
    }

    /*login*/
    .entrar, .cadastro {
        text-align: center;
    }

    .cadastro {
        margin-left: 2%;
        border-left: 2px solid black;
    }

    .entrar > h2, .cadastro > h2 {
        margin: 15px auto 15px;
    }

    #tr-1 {
        z-index: -1;
        position: absolute;
        bottom: 0;
        width: 0; 
        height: 0; 
        border-bottom: 250px solid transparent;
        border-top: 250px solid transparent;
        border-left: 250px solid #3682773a;
    }

    #tr-2 {
        z-index: -1;
        position: absolute;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 250px solid transparent;
        border-right: 250px solid transparent;
        border-bottom: 250px solid #47c5b23a
    }

    /* Módulo 1 */
    .video-list {
        margin: 1% 0 1% 0;
        height: 400px;
        overflow: auto;
    }

    .video-list button {
        margin: 1% 10px 10% 10px;
        height: 30px;
        box-sizing: border-box;
        border:2px solid #347D6C;
        border-radius: 5px;
        background-color: #fff;
    }

    .video-list button:hover {
        border:2px solid #347D6C;
        background-color: #347D6C;
    }

    .video-list button.checked {
        background-color: #347D6C;
        border:2px solid #347D6C;
    }

    .video {
        margin: 1% 0;
    }

    .video iframe {
        height: 400px;
    }
}

/* desktop
@media (min-width: 1025px) {
    body {
      background-color: lavender;
    }
} */
